<configuration>
    <springProperty name="LOG_PATTERN" source="logging.pattern.console"/>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                ${LOG_PATTERN}
            </Pattern>
        </encoder>
    </appender>

    <!-- 레벨 별 Appender 적용 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
