<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="DATE_FORMAT" datePattern="yyyy-MM-dd"/>

    <springProperty name="LOG_PATH" source="logging.file.path"/>
    <property name="LOG_PATTERN_DEFAULT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] ${PID} %5level %logger - %msg%n" />
    <property name="LOG_PATTERN_COLORED" value="%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] ${PID} %highlight(%-5level) %cyan(%logger) - %msg%n" />

    <springProfile name="default">
        <include resource="console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="file-hibernate-appender.xml"/>
        <include resource="file-debug-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>

        <root level="DEBUG">
            <appender-ref ref="FILE_DEBUG"/>
            <appender-ref ref="FILE_WARN"/>
            <appender-ref ref="FILE_ERROR"/>
        </root>

        <logger name="org.hibernate.SQL" level="DEBUG">
            <appender-ref ref="FILE_HIBERNATE"/>
        </logger>
        <logger name="org.hibernate.type" level="TRACE">
            <appender-ref ref="FILE_HIBERNATE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <include resource="file-info-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE_INFO"/>
            <appender-ref ref="FILE_WARN"/>
            <appender-ref ref="FILE_ERROR"/>
        </root>
        <!-- ERROR 슬랙 알림 추가 -->
    </springProfile>
</configuration>
